@import '../../../styles/theme';

a {
  display: flex;
  align-items: center;
}

::ng-deep {
  .mdc-list-item__content > span {
    display: flex;
    align-items: center;
    padding-right: 0.25rem;
  }
}

::ng-deep .menu {
  display: block;

  &.mat-mdc-list-base .mat-mdc-list-item {
    font-size: 0.875rem;
  }

  .menu-text {
    flex: 1;
    padding-left: 4px;
  }

  @for $level from 1 to 10 {
    ::ng-deep.mat-mdc-list-item.level-#{$level} {
      height: 42px;

      .mdc-list-item__content {
        padding-left: #{16 * $level}px !important;

        .menu-text {
          padding-right: #{16 * $level}px !important;
        }
      }
    }
  }

  .mat-icon {
    align-items: center;
    display: inline-flex;
  }

  .mat-mdc-list-item {
    height: 42px !important;

    .mat-mdc-list-item-content {
      border-left: solid 5px transparent;
      width: auto;
    }

    &.active {
      &.is-leaf {
        .mat-mdc-list-item-content {
          background-color: rgba(0, 0, 0, 0.12);
        }
      }
    }
  }

  .submenu {
    .mat-mdc-nav-list {
      max-height: 500px;
      overflow: hidden;
      padding-top: 0;
      transition: all 0.2s;
    }

    &.collapsed {
      .mat-mdc-nav-list {
        max-height: 0;
      }
    }
  }
}

@include each-themes using ($name, $theme) {
  :host {
    ::ng-deep .menu {
      .mat-mdc-list-item.active {
        .mat-mdc-list-item-content {
          border-left-color: get($name, 'primary');
        }
      }
    }
  }
}
