:host {
  ::ng-deep {
    header {
      display: flex;
      padding: 0.5rem 0.5rem 0.5rem 1rem;

      h2 {
        flex: 1;
        line-height: 2em;
        margin: 0;
      }
    }

    .container {
      flex-grow: 1;
      margin-bottom: 53px;
      width: 600px;
    }

    footer,
    .footer {
      border-top: solid 1px rgba(0, 0, 0, 0.12);
      bottom: 0;
      padding: 0.5rem 1rem;
      position: absolute;
      width: calc(100% - 2rem);
    }

    .mat-progress-bar {
      position: fixed;
    }

    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
    }
  }
}
