<button mat-raised-button (click)="changeLayout('column')">Column Layout</button>

<button mat-raised-button (click)="changeLayout('row')">Row Layout</button>
<br />
<br />
<div style="border: dotted 1px #000;">
  <el-layout [options]="layoutData" cdkDropList [cdkDropListOrientation]="sortDirection" (cdkDropListDropped)="drop(layoutData.items, $event)">
    <el-layout-item [data]="item" *ngFor="let item of layoutData.items" cdkDrag>
      <div class="block block-1">{{item.text}}</div>
    </el-layout-item>
  </el-layout>
</div>

<div>
  <div *ngFor="let item of layoutData.items">
    {{ item | json }}
  </div>
</div>
