<button mat-raised-button (click)="changeLayout('column')">Column Layout</button>
<button mat-raised-button (click)="changeLayout('row')">Row Layout</button>
<button mat-raised-button (click)="draggable = true" [disabled]="draggable">Enable Sorting</button>
<button mat-raised-button (click)="draggable = false" [disabled]="!draggable">Disable Sorting</button>

<br /><br />
<div class="layout-container">
  <el-layout [mode]="layoutData.mode" [gutter]="layoutData.gutter" [dragEnabled]="draggable" [items]="layoutData.data"
    [itemTemplate]="layoutItemTemplate"
    (itemSorted)="sort($event)"
    ></el-layout>
</div>
<ng-template #layoutItemTemplate let-item let-index="index">
  <div class="block block-1">{{item.text}} #{{index}}</div>
</ng-template>
