<form [formGroup]="form" (ngSubmit)="login()" class="container">
  <mat-card>
    <img mat-card-image src="assets/logo.png">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput formControlName="name" name="username" placeholder="Username">
        <mat-error *ngIf="form.get('name').hasError('required')">
          Required.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="full-width">
        <input matInput formControlName="password" name="password" placeholder="Password" type="password"
          autocomplete="off">
        <mat-error *ngIf="form.get('password').hasError('required')">
          Required.
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <div class="alert-message" *ngIf="alertMessage">{{alertMessage}}</div>

    <mat-card-actions align="end">
      <div class="flex-1" align="start">
        <a mat-button>
          Forgot password?
        </a>
      </div>
      <button mat-raised-button color="primary" [disabled]="!form.valid" [ngClass]="{loading: logging}" type="submit"> Log in </button>
    </mat-card-actions>

    <div>
      <a mat-button [routerLink]="'/auth/callback'">
        Log In with GitHub
      </a>
    </div>
  </mat-card>
</form>