:host {
  display: block;
  padding-top: 20vh;

  app-lang-menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  .container {
    width: 360px;
    text-align: center;
    margin: 0 auto;
    padding: 0 2rem 3rem 2rem;

    .mat-card-actions {
      margin-bottom: 0.5rem;
    }

    .mat-card-image {
      width: 50%;
    }
  }
}