:host {
  display: flex;
  align-items: center;
  height: 100%;
  background-image: url(https://static.bndy.net/images/bg.jpg);

  app-lang-menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  .container {
    width: 360px;
    text-align: center;
    margin: 0 auto;
    padding: 0 2rem 3rem 2rem;

    .mat-card-content {
      padding: 1rem 0;
      margin-bottom: 0;
    }

    .mat-card-actions {
      margin-bottom: 0.5rem;
    }

    .mat-card-image {
      width: 50%;
      margin-bottom: 0;
    }
  }
}