@import '~@angular/material/theming';
@import '../../../variables';

:host {
  display: block;
  width: $sidebar-width;

  a {
    border-left: solid 5px transparent;
    width: auto;
  }

  a.active {
    border-left-color: $primary;
    background-color: rgba(0,0,0, 0.12);
  }

  .mat-icon {
    margin-right: 0.5rem;
  }
}