@import '../../../styles/variables';

:host {
  display: block;
  width: $sidebar-width;

  a {
    border-left: solid 5px transparent;
    width: auto;
  }

  a.active {
    border-left-color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.12);
  }

  .mat-icon {
    margin-right: 0.5rem;
  }
}

@include each-themes using ($name, $theme: null) {
  :host {
    a.active {
      border-left-color: get($name, 'primary');
    }
  }
}
