/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/purple-green.css";
@import "./variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

section {
  margin-bottom: 2rem;
}

.font-lg {
  font-size: 1.25rem;
}

.font-xlg {
  font-size: 1.5rem;
}

.font-2x {
  font-size: 2rem;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.prewrap {
  font-family: monospace !important;
  white-space: pre-wrap;
}

.no-padding {
  padding: 0;
}

.padding {
  padding: 1rem;
}

.padding-2x {
  padding: 2rem;
}

.no-margin {
  margin: 0;
}

.margin-left {
  margin-left: 1rem;
}

.full-width {
  width: 100%;
}

.notification-success {
  color: #ffffff !important;
  background-color: #28a745 !important;

  .mat-button-wrapper {
    color: #dddddd !important;
  }
}

.notification-warn {
  color: #343a40 !important;
  background-color: #ffc107 !important;

  .mat-button-wrapper {
    color: #343a40 !important;
  }
}

.notification-error {
  color: #ffffff !important;
  background-color: #dc3545 !important;

  .mat-button-wrapper {
    color: #dddddd !important;
  }
}

.page-container {
  padding: 1rem 2rem;
}

// text
.text-muted {
  color: #666666;
}

.text-block {
  display: inline-block;
  padding: 8px 0;
}

.flex-1 {
  flex: 1;
}

.row {
  display: flex;

  &.gutter {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    > * {
      margin: 0 0.5rem;
    }
  }

  .fill {
    flex: 1;
  }

  .right {
    text-align: right;
  }
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.12),
    0 5px 10px 1px rgba(0, 0, 0, 0.12), 0 5px 14px 2px rgba(0, 0, 0, 0.12);

  tbody {
    tr {
      &:hover {
        th,
        td {
          background-color: #efefef;
        }
      }

      &.active {
        td,
        td a {
          background-color: #3f51b5;
          color: white;
        }
      }
    }
  }

  th,
  td {
    text-align: left;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    padding: 0.5rem;

    &:first-child {
      padding-left: 1rem;
    }

    .mat-icon {
      font-size: 1rem;
    }
  }
}


/* overwrite mertial stylse */
.mat-toolbar-row, .mat-toolbar-single-row {
  height: $navbar-height;
}
