/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/purple-green.css";
@import "./variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

section {
  margin-bottom: 2rem;
}

.font-lg {
  font-size: 1.25rem;
}

.font-xlg {
  font-size: 1.5rem;
}

.font-2x {
  font-size: 2rem;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.prewrap {
  font-family: monospace !important;
  white-space: pre-wrap;
}

.no-padding {
  padding: 0;
}

.absolute {
  position: absolute;
  width: 100%;
}

@for $var from 1 to 8 {
  .pa-#{$var} {
    padding: #{$var * 0.25}rem;
  }
  .px-#{$var} {
    padding-left: #{$var * 0.25}rem;
    padding-right: #{$var * 0.25}rem;
  }
  .py-#{$var} {
    padding-top: #{$var * 0.25}rem;
    padding-bottom: #{$var * 0.25}rem;
  }
}

.padding {
  padding: 1rem;
}

.padding-2x {
  padding: 2rem;
}

.no-margin {
  margin: 0;
}

.margin-left {
  margin-left: 1rem;
}

.full-width {
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.notification-success {
  color: #ffffff !important;
  background-color: #28a745 !important;

  .mat-button-wrapper {
    color: #dddddd !important;
  }
}

.notification-warn {
  color: #343a40 !important;
  background-color: #ffc107 !important;

  .mat-button-wrapper {
    color: #343a40 !important;
  }
}

.notification-error {
  color: #ffffff !important;
  background-color: #dc3545 !important;

  .mat-button-wrapper {
    color: #dddddd !important;
  }
}

.page-container {
  padding: 1rem 2rem;
}

.border-radius {
  border-radius: 4px;
}

// text
.text-muted {
  color: #666666;
}

.text-block {
  display: inline-block;
  padding: 8px 0;
}

.flex-1 {
  flex: 1;
}

.row {
  display: flex;

  &.gutter {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    > * {
      margin: 0 0.5rem;
    }
  }

  .fill {
    flex: 1;
  }

  .right {
    text-align: right;
  }
}

.icon {
  &.icon-arrow {
    position: relative;
    top: 2px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: "";
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    transition: all .3s;
    opacity: 0.6;

    &.icon-arrow-up {
      transform: rotate(-45deg);
    }
    &.icon-arrow-right {
      top: 0;
      transform: rotate(45deg);
    }
    &.icon-arrow-down {
      top: -2px;
      transform: rotate(-225deg);
    }
    &.icon-arrow-left {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.12),
    0 5px 10px 1px rgba(0, 0, 0, 0.12), 0 5px 14px 2px rgba(0, 0, 0, 0.12);

  thead {
    th {
      text-align: left;
      border-bottom: solid 1px rgba(0, 0, 0, 0.12);
      padding: 0.5rem;

      &:first-child {
        padding-left: 1rem;
      }
    }
  }

  tbody {
    tr {
      &:not(.active):hover {
        th,
        td {
          background-color: #efefef;
        }
      }

      &.active {
        td {
          background-color: #666666;
          color: white;
          a {
            color: white;
          }
        }
      }
    }

    th,
    td {
      text-align: left;
      border-bottom: solid 1px rgba(0, 0, 0, 0.12);
      padding: 0.5rem;

      &:first-child {
        padding-left: 1rem;
      }

      .mat-icon {
        font-size: 1rem;
      }
    }
  }
}

.alert-message {
  color: #dc3545;
  word-break: break-all;
}

/* overwrite mertial stylse */
.mat-toolbar-row, .mat-toolbar-single-row {
  height: $navbar-height;
}

.mat-dialog-container {
  margin-top: -100px;
}

/* styles with attributes */
[align=start] {
  text-align: start;
}
