/* You can add global styles to this file, and also import other style files */

// @import "@angular/material/prebuilt-themes/purple-green.css";
@import './variables';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

section {
  margin-bottom: 2rem;
}

.font-lg {
  font-size: 1.25rem;
}

.font-xlg {
  font-size: 1.5rem;
}

.font-2x {
  font-size: 2rem;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.prewrap {
  font-family: monospace !important;
  white-space: pre-wrap;
}

.no-padding {
  padding: 0;
}

.absolute {
  position: absolute;
  width: 100%;
}

@for $var from 1 to 8 {
  .pa-#{$var} {
    padding: #{$var * 0.25}rem;
  }
  .px-#{$var} {
    padding-left: #{$var * 0.25}rem;
    padding-right: #{$var * 0.25}rem;
  }
  .py-#{$var} {
    padding-bottom: #{$var * 0.25}rem;
    padding-top: #{$var * 0.25}rem;
  }
}

.padding {
  padding: 1rem;
}

.padding-2x {
  padding: 2rem;
}

.no-margin {
  margin: 0;
}

.margin-left {
  margin-left: 1rem;
}

.full-width {
  width: 100%;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.notification-success {
  background-color: #28a745 !important;
  color: #fff !important;

  .mat-button-wrapper {
    color: #ddd !important;
  }
}

.notification-warn {
  background-color: #ffc107 !important;
  color: #343a40 !important;

  .mat-button-wrapper {
    color: #343a40 !important;
  }
}

.notification-error {
  background-color: #dc3545 !important;
  color: #fff !important;

  .mat-button-wrapper {
    color: #ddd !important;
  }
}

.page-container {
  padding: 1rem 2rem;
}

.border-radius {
  border-radius: 4px;
}

// text
.text-muted {
  color: #666;
}

.text-block {
  display: inline-block;
  padding: 8px 0;
}

.flex-1 {
  flex: 1;
}

.row {
  display: flex;

  &.gutter {
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    > * {
      margin: 0 0.5rem;
    }
  }

  .fill {
    flex: 1;
  }

  .right {
    text-align: right;
  }
}

.icon {
  &.icon-arrow {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    opacity: 0.6;
    padding: 3px;
    position: relative;
    top: 2px;
    transition: all 0.3s;
    vertical-align: middle;

    &.icon-arrow-up {
      transform: rotate(-45deg);
    }

    &.icon-arrow-right {
      top: 0;
      transform: rotate(45deg);
    }

    &.icon-arrow-down {
      top: -2px;
      transform: rotate(-225deg);
    }

    &.icon-arrow-left {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}

.alert-message {
  color: #dc3545;
  word-break: break-all;
}

/* material */
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: $navbar-height;
}

.mat-dialog-container {
  margin-top: -100px;
}

/* driver.js */
#driver-popover-item {
  &.no-title {
    .driver-popover-title {
      display: none;
    }
  }
}

.highlight-service-bordered {
  #driver-highlighted-element-stage {
    background-color: transparent !important;
    border: solid 2px #fff;
    border-radius: 10px;
  }
}

/* styles with attributes */
[align=start] {
  text-align: start;
}
