@import './variables';

button {
  &.loading {
    &.mat-button,
    &.mat-flat-button,
    &.mat-raised-button,
    &.mat-stroked-button {
      .mat-button-wrapper
      {
        color: transparent;
      }
      .mat-ripple {
        &::before {
          content: "● ● ●";
          display: inline-block;
          @include swing();
        }
      }
    }


    &.mat-fab,
    &.mat-mini-fab,
    &.mat-icon-button {
      .mat-ripple {
        border: solid 3px;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        @include rotate();
        &::before {
          content: "";
        }
      }
    }
  }
}

@include each-themes using ($name, $theme) {
  button {
    &.loading {
      &.mat-button-disabled {
        &.mat-fab,
        &.mat-mini-fab,
        &.mat-icon-button {
          .mat-ripple {
            border-top-color: var(--#{$name}--primary);
          }
        }
      }
    }
  }
}
