@import "./theme";

.overlay-parent {
  position: relative !important;
  .overlay {
    position: absolute;
    z-index: 2000;
    background-color: #ffffff;
    opacity: 0.8;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .3s;

    .loading-body {
      position: absolute;
      top: 50%;
      margin-top: -21px;
      width: 100%;
      text-align: center;

      svg.loading-spinner {
        height: 42px;
        width: 42px;
        animation: loading-rotate 2s linear infinite;

        circle {
          animation: loading-dash 1.5s ease-in-out infinite;
          stroke-dasharray: 90,150;
          stroke-dashoffset: 0;
          stroke-width: 2;
          stroke: #1976d2;
          stroke-linecap: round;
        }
      }

      .loading-text {
        opacity: 0.9;
      }
    }
  }
}

@include each-themes using ($name, $theme) {
  .overlay-parent .overlay {
    background-color: var(--#{$name}--background);

    .loading-body {
      svg.loading-spinner circle {
        stroke: var(--#{$name}--primary);
      }

      .loading-text {
        color: var(--#{$name}--text);
      }
    }
  }
}