@import './theme';

.overlay-parent {
  position: relative !important;

  .overlay {
    background-color: #fff;
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.3s;
    z-index: 2000;

    .loading-body {
      margin-top: -21px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;

      svg.loading-spinner {
        animation: loading-rotate 2s linear infinite;
        height: 42px;
        width: 42px;

        circle {
          animation: loading-dash 1.5s ease-in-out infinite;
          stroke: #1976d2;
          stroke-dasharray: 90,150;
          stroke-dashoffset: 0;
          stroke-linecap: round;
          stroke-width: 2;
        }
      }

      .loading-text {
        opacity: 0.9;
      }
    }
  }
}

@include each-themes using ($name, $theme) {
  .overlay-parent .overlay {
    background-color: var(--#{$name}--background);

    .loading-body {
      svg.loading-spinner circle {
        stroke: var(--#{$name}--primary);
      }

      .loading-text {
        color: var(--#{$name}--text);
      }
    }
  }
}
