@import "~@angular/material/theming";
@import './variables';


// Define the default theme (same as the example above).
$app-primary: mat-palette($mat-blue, 700);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-theme: mat-light-theme($app-primary, $app-accent);

$color-primary: mat-color($app-primary, default);
$color-accent: mat-color($app-accent, default);

// Define your themes.
$themes: (
  '': $app-theme,
  popular: mat-light-theme(
    mat-palette($mat-blue-grey),
    mat-palette($mat-amber, 900),
    mat-palette($mat-deep-orange)
  ),
  dark: mat-dark-theme(
    mat-palette($mat-blue),
    mat-palette($mat-pink, A200, A100, A400),
    mat-palette($mat-orange)
  )
);

@mixin register-theme($name, $theme) {
  $colorset: (
    primary: map-get(map-get($theme, primary), default),
    primary-text: map-get(map-get($theme, primary), default-contrast),
    accent: map-get(map-get($theme, accent), default),
    accent-text: map-get(map-get($theme, accent), default-contrast),
    warn: map-get(map-get($theme, warn), default),
    warn-text: map-get(map-get($theme, warn), default-contrast),

    foreground: map-get(map-get($theme, foreground), base),
    text: map-get(map-get($theme, foreground), text),
    secondary-text: map-get(map-get($theme, foreground), secondary-text),
    divider: map-get(map-get($theme, foreground), divider),

    background: map-get(map-get($theme, background), background),
    hover: map-get(map-get($theme, background), hover),
  );

  :root {
    @each $key, $val in $colorset {
      --#{$name}--#{$key}: #{$val};
    }
  }

  @if $name != '' {
    .#{$name} {
      @include angular-material-theme($theme);
      @include base-style($name, $colorset);
      @include scrollbar-style($name, $colorset);
      @include table-style($name, $colorset);
    }
  } @else {
    // @include base-style($name, $colorset);
    @include scrollbar-style($name, $colorset);
    @include table-style($name, $colorset);
  }
}

@function get($theme-name, $key) {
  @return var(--#{$theme-name}--#{$key});
}

@mixin each-themes($inTheme: true) {
  @each $name, $theme in $themes {
    @if $name != '' and $inTheme {
      ::ng-deep.#{$name} {
        @content($name, $theme);
      }
    } @else {
      @content($name, $theme);
    }
  }
}

/* color */
$colorKeys: 'primary', 'accent', 'warn';

@mixin each-colors {
  @for $i from 1 through length($colorKeys) {
    @content(nth($colorKeys, $i));
  }
}

