@import "~@angular/material/theming";

$navbar-height: 63px;
$sidebar-width: 200px;

@mixin base-style($theme-name, $colorset) {
  a {
    color: map-get($colorset, text);
  }
}

@mixin table-style($theme-name, $colorset) {
  table {
    tr {
      th,
      td {
        // border-bottom-color: var(--#{$theme-name}--divider) !important;
        border-bottom-color: map-get($map: $colorset, $key: divider) !important;
      }

      &:hover {
        td {
          background-color: map-get($colorset, hover);
        }
      }

      &.active {
        td {
          background-color: map-get($colorset, primary);
        }
      }
    }
  }
}

@mixin app-sidebar($theme-name, $colorset) {
  app-sidebar {
    a.active {
      border-left-color: map-get($map: $colorset, $key: primary) !important;
    }
  }
}
