@import "~@angular/material/theming";

$navbar-height: 63px;
$sidebar-width: 200px;

@mixin base-style($theme-name, $colorset) {
  background-color: map-get($map: $colorset, $key: background);
  color: map-get($map: $colorset, $key: text);

  a {
    color: map-get($colorset, text);
  }

  .text-muted {
    color: map-get($map: $colorset, $key: secondary-text);
  }
}

@mixin scrollbar-style($theme-name, $colorset) {
  .scrollbar {
    overflow: auto;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba(map-get($colorset, text), $alpha: 0.1);
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(map-get($colorset, text), $alpha: 0.4);
      border-radius: 10px;
      &:hover {
        background-color: rgba(map-get($colorset, text), $alpha: 0.6);
      }
    }
    &::-webkit-scrollbar-corner {
      background: #179a16;
    }
  }
}

@mixin table-style($theme-name, $colorset) {
  table {
    tr {
      th,
      td {
        border-bottom-color: map-get($map: $colorset, $key: divider) !important;
      }
    }

    tbody {
      tr {
        &.active {
          td {
            background-color: var(--#{$theme-name}--primary);
            color: #ffffff;
          }
        }

        &:not(.active):hover {
          td {
            background-color: map-get($colorset, divider);
          }
        }
      }
    }
  }
}

@mixin app-sidebar($theme-name, $colorset) {
  app-sidebar {
    a.active {
      border-left-color: map-get($map: $colorset, $key: primary) !important;
    }
  }
}

/* animations */
@mixin headShake {
  animation: .5s ease-in-out 0s infinite alternate headShake
}
@mixin heartBeat {
  animation: 3s ease-in-out 0s infinite alternate heartBeat
}
@mixin flip {
  backface-visibility: visible;
  animation: 2s ease-in-out 0s infinite flip
}
@mixin swing {
  animation: 1s ease-in-out 0s infinite alternate swing;
}
@mixin rotate {
  transform-origin: center;
  animation: 1s ease-in-out 0s infinite rotate;
}
@mixin  aggregation {
  animation: 1s ease-in-out 0s infinite alternate aggregation;
}

