@import "~@angular/material/theming";

$navbar-height: 63px;
$sidebar-width: 200px;

@mixin base-style($theme-name, $colorset) {
  background-color: map-get($map: $colorset, $key: background);
  color: map-get($map: $colorset, $key: text);

  a {
    color: map-get($colorset, text);
  }

  .text-muted {
    color: map-get($map: $colorset, $key: secondary-text);
  }
}

@mixin table-style($theme-name, $colorset) {
  table {
    tr {
      th,
      td {
        border-bottom-color: map-get($map: $colorset, $key: divider) !important;
      }

      &:not(.active):hover {
        td {
          background-color: map-get($colorset, hover);
        }
      }

      &.active {
        td {
          background-color: var(--#{$theme-name}--primary);
          color: #ffffff;
        }
      }
    }
  }
}

@mixin app-sidebar($theme-name, $colorset) {
  app-sidebar {
    a.active {
      border-left-color: map-get($map: $colorset, $key: primary) !important;
    }
  }
}

/* animations */
@mixin headShake {
  animation: .5s ease-in-out 0s infinite alternate headShake
}
@mixin heartBeat {
  animation: 3s ease-in-out 0s infinite alternate heartBeat
}
@mixin flip {
  backface-visibility: visible;
  animation: 2s ease-in-out 0s infinite flip
}
@mixin swing {
  animation: 1s ease-in-out 0s infinite alternate swing;
}
@mixin rotate {
  transform-origin: center;
  animation: 1s ease-in-out 0s infinite rotate;
}
@mixin  aggregation {
  animation: 1s ease-in-out 0s infinite alternate aggregation;
}

