<button mat-raised-button (click)="changeLayout('column')">
  Column Layout
</button>
<button mat-raised-button (click)="changeLayout('row')">Row Layout</button>
<button mat-raised-button (click)="draggable = true" [disabled]="draggable">
  Enable Sorting
</button>
<button mat-raised-button (click)="draggable = false" [disabled]="!draggable">
  Disable Sorting
</button>

<br /><br />
<div class="layout-container">
  <el-layout
    [mode]="layoutData.mode"
    [gutter]="layoutData.gutter"
    [items]="layoutData.items"
    [dragEnabled]="draggable"
    [itemTemplate]="layoutItemTemplate"
    (itemSorted)="sort($event)"
  ></el-layout>
</div>
<ng-template #layoutItemTemplate let-item let-index="index">
  <div class="block block-1" *ngIf="item.data">
    {{ item.data.text }} #{{ index }}
  </div>
  <el-layout
    *ngIf="item.isLayout"
    [mode]="item.mode"
    [gutter]="item.gutter"
    [items]="item.items"
    [dragEnabled]="draggable"
    [itemTemplate]="layoutItemTemplate"
    (itemSorted)="sort($event)"
  ></el-layout>
</ng-template>
