<div class="page-container">
  <app-page-loading [loading]="loading"></app-page-loading>
  <div class="row" *ngIf="!loading">
    <div class="fill">
      <table class="border-radius">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hero of heroes" [ngClass]="{active: activedHero && hero.id === activedHero.id}">
            <td>{{hero.id}}</td>
            <td>{{hero.name}}</td>
            <td>
              <a [routerLink]="hero.id">open in current page</a>
            </td>
            <td>
              <a [routerLink]="['', hero.id]">
                open in new page
              </a>
            </td>
            <td class="no-padding">
              <button mat-icon-button class="btn-edit" (click)="gotoDetail(hero.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="btn-delete" (click)="remove(hero.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="margin-left">
      <router-outlet></router-outlet>
    </div>
  </div>


  <app-content-sidebar #contentSidebar elementsToOpen=".btn-edit"
    [title]="'#' + activedHero?.id + ' ' + activedHero?.name" [progressShown]="saving" [open]="activedHero"
    (closed)="onClosedContentSidebar()">
    <div class="padding">
      <form *ngIf="activedHero" style="height: 2000px;">
        <mat-form-field>
          <input matInput name="name" placeholder="Name" [(ngModel)]="activedHero.name">
        </mat-form-field>
      </form>
    </div>
    <div class="footer row">
      <div class="fill text-block">
        Here to place footer.
      </div>
      <div class="right">
        <button mat-raised-button color="primary" [ngClass]="{loading: saving}" [disabled]="saving" (click)="save()">Save</button>
      </div>
    </div>
  </app-content-sidebar>

</div>