:host {
  ::ng-deep.mat-dialog-content {
    margin-bottom: 0.5rem;
  }
}

.container {
  position: relative;

  h1 {
    text-align: center;
  }

  .corner-icon {
    position: absolute;
  }

  .loading-wrapper {
    margin: 1rem;
    text-align: center;

    .mat-progress-spinner {
      display: inline-block;
    }

    .seconds {
      font-size: 40px;
      position: absolute;
      top: calc(1rem + 25px);
      width: calc(100% - 2rem);
    }
  }

  .mat-icon-button {
    &.corner-icon {
      right: -10px;
      top: -10px;
    }
  }

  .mat-spinner {
    &.corner-icon {
      right: -5px;
      top: -5px;
    }
  }

  .item-title {
    margin-bottom: 0.5rem;

    label {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .item-content {
    margin-bottom: 1rem;
  }

  &.has-close-icon {
    h1 {
      padding-right: 2rem;
      text-align: left;
    }
  }
}
