:host {
  ::ng-deep.mat-dialog-content {
      margin-bottom: 0.5rem;
  }
}

.container {
  position: relative;

  h1 {
    text-align: center;
  }

  .corner-icon {
    position: absolute;
  }

  .mat-icon-button {
    &.corner-icon {
      top: -10px;
      right: -10px;
    }
  }

  .mat-spinner {
    &.corner-icon {
      top: -5px;
      right: -5px;
    }
  }

  .item-title {
    margin-bottom: 0.5rem;

    label {
      font-weight: bold;
      font-size: 1.25rem;
    }
  }

  .item-content {
    margin-bottom: 1rem;
  }

  &.has-close-icon {
    h1 {
      padding-right: 2rem;
      text-align: left;
    }
  }
}
