<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo-wrapper">
      <img class="logo" src="https://static.bndy.net/images/logo_white.png" />
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="spacer vertical"></div>
    <button mat-icon-button (click)="toggleSidebar()" *ngIf="false">
      <mat-icon>menu</mat-icon>
    </button>
    <nav class="main">
      <a mat-button *ngFor="let item of navs" [routerLink]="item.link">{{item.text}}</a>
    </nav>
    <nav>
      <button mat-icon-button [matBadge]="newMessageCount" [matBadgeHidden]="newMessageCount <= 0" matBadgeColor="accent" [matMenuTriggerFor]="menuMessage">
        <mat-icon>message</mat-icon>
      </button>
      <mat-menu #menuMessage="matMenu" class="message-list">
        <button mat-menu-item *ngFor="let message of messages" [ngClass]="{'new': !message.read}"
          [matTooltip]="message.title" (click)="viewMessage(message)">
          <mat-icon>email</mat-icon>
          <span>{{message.title}}</span>
        </button>
      </mat-menu>


      <button mat-icon-button class="avatar" [matMenuTriggerFor]="menuAvatar">
        <img [src]="userInfo.avatar" [matTooltip]="userInfo.name" *ngIf="userInfo" />
      </button>
      <mat-menu class="avatar-menus" #menuAvatar="matMenu" [hidden]="!userInfo">
        <div class="avatar-wrapper">
          <img [src]="userInfo?.avatar" />
          <div class="font-lg">{{userInfo?.name}}</div>
          <div class="text-muted">{{userInfo?.title}}</div>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Your Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_application</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>