<mat-grid-list cols="2" rowHeight="480px">
  <mat-grid-tile>
    <div style="width: 100%; height: 100%; padding-right: 100px;">
      <el-form
        [fields]="fields"
        (init)="formInit($event)"
        (fieldValueChange)="formValueChange($event)"
      ></el-form>
      <button mat-raised-button (click)="show()">Print to console</button>
      &nbsp;&nbsp; Form Status: {{ formStatus }}
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="width: 100%; height: calc(100% - 20px); margin-top: 10px; overflow: auto;">
      <pre>{{ fields | json }}</pre>
    </div>
  </mat-grid-tile>
</mat-grid-list>
