<mat-progress-bar mode="indeterminate" color="accent" *ngIf="showProgressbar"></mat-progress-bar>

<app-navbar></app-navbar>

<mat-sidenav-container>
  <mat-sidenav #sidebar [mode]="sidebarMode" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{'content-sidebar-opened': openedContentSidebar}">
    <span class="sidebar-switcher" (click)="toggleSidebar();">
      <mat-icon *ngIf="sidebarOpened">keyboard_arrow_left</mat-icon>
      <mat-icon *ngIf="!sidebarOpened">keyboard_arrow_right</mat-icon>
    </span>

    <div [@routeAnimation]="getAnimationData(routerOutlet)">
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>