@import '../../../styles/theme';

:host {
  display: flex;
  flex-direction: column;
  min-width: $sidebar-width + 1;
  height: 100%;

  .nav {
    flex: 1;
  }

  footer {
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
    font-size: 0.75rem;
    opacity: 0.75;
  }
}
@include each-themes using ($name, $theme) {
  :host {
    footer {
      background-color: get($name, 'background');
    }
  }
}
