@import '../../../styles/theme';

:host {
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  height: 100%;

  a {
    border-left: solid 5px transparent;
    width: auto;
  }

  a.active {
    border-left-color: $color-primary;
    background-color: rgba(0, 0, 0, 0.12);
  }

  .mat-icon {
    margin-right: 0.5rem;
  }

  footer {
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
    font-size: 0.75rem;
    opacity: 0.75;
  }

  ::ng-deep {
    .mat-nav-list {
      flex: 1;
    }
  }
}

@include each-themes using ($name, $theme) {
  :host {
    a.active {
      border-left-color: get($name, 'primary');
    }

    footer {
      background-color: get($name, 'background');
    }
  }
}
