<mat-progress-bar mode="indeterminate" color="accent" *ngIf="showProgressbar"></mat-progress-bar>

<app-navbar [menus]="menus" (menuClick)="clickNavMenu($event)" (search)="search($event)"></app-navbar>

<mat-sidenav-container>
  <mat-sidenav #sidebar [mode]="sidebarMode" opened>
    <app-sidebar [menus]="subMenus"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{'content-sidebar-opened': contentSidebarOpened}">
    <span class="sidebar-switcher" (click)="toggleSidebar();">
      <mat-icon *ngIf="sidebarOpened">keyboard_arrow_left</mat-icon>
      <mat-icon *ngIf="!sidebarOpened">keyboard_arrow_right</mat-icon>
    </span>

    <div>
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>